<!-- Footer -->
<footer class="page-footer font-small indigo text-white">
  <!-- Footer Links -->
  <div class="container">
    <!-- Grid row -->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          {% if home_active %}
          <a class="nav-link text-white" href="#services">Services</a>
          {% else %}
          <a class="nav-link text-white" href="#help">Help</a>
          {% endif %}
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="nav-link text-white" href="#contact">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a
            class="nav-link text-white"
            target="_blank"
            href="https://www.youtube.com/"
            >Youtube</a
          >
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a
            class="nav-link text-white"
            target="_blank"
            href="https://www.facebook.com/"
            >Facebook</a
          >
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a
            class="nav-link text-white"
            target="_blank"
            href="https://www.instagram.com/"
            >Instagram</a
          >
        </h6>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%" />

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">
          The fastest and easiest way to to download any video from YouTube and
          Facebook. Our website allows you to download and save videos to any
          storage, from where you can play them in the future.
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
    <hr
      class="clearfix d-md-none rgba-white-light"
      style="margin: 10% 15% 5%"
    />

    <!-- Grid row-->
    <div class="row pb-3">
      <!-- Grid column -->
      <div class="col-md-12">
        <div class="mb-2 text-center" id="contact">
          <a href="https://www.instagram.com/adi_patel_.07/" target="_blank"
            ><i class="fab fa-instagram fa-2x m-1 text-white"></i
          ></a>
          <a
            href="mailto:aaditya.rola110711@marwadiuniversity.ac.in"
            target="_blank"
          >
            <i class="fas fa-envelope fa-2x m-1 text-white"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/aaditya-rola-a21929227/"
            target="_blank"
            ><i class="fab fa-linkedin fa-2x m-1 text-white"></i
          ></a>
          <a href="https://github.com/Aaditya110711" target="_blank"
            ><i class="fab fa-github fa-2x m-1 text-white"></i
          ></a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
